.tasks_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 85%;
  padding: 0 100px 25px 100px;
  overflow: scroll;
}

.tasks_component .task_handler {
  width: 600px;
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
}

.tasks_component .task_handler .title_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.tasks_component .task_handler .title_handler .title {
  cursor: pointer;
}

.tasks_component .task_handler .tasks {
  -webkit-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #414150;
  overflow: hidden;
}

.tasks_component .task_handler .tasks .task {
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  cursor: pointer;
  color: #ebebeb;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 15px;
}

.tasks_component .task_handler .tasks .task:not(:last-child) {
  border-bottom: 1px solid #57576b;
}

.tasks_component .task_handler .tasks .task:hover {
  background: #49495a;
}

.tasks_component .task_handler .tasks-hidden {
  height: 0;
}

.tasks_component .triangle {
  fill: #a19c9c;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
  margin-right: 10px;
}

.tasks_component .icon {
  fill: #a19c9c;
  width: 20px;
  height: 20px;
}
