.user_bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15%;
  padding: 50px 75px 25px 75px;
}

.user_bar .tab_handler {
  font-size: 24px;
  color: #6e6f73;
}

.user_bar .tab_handler .tab {
  color: white;
}

.user_bar .icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.user_bar .icons .icon_holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 35px;
}

.user_bar .icons .project_switch_mode_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_bar .icons .project_info_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_bar .icons .add_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user_bar .icons .add_handler .add_list {
  position: absolute;
  top: 150%;
  width: 110px;
  background: #3c3c4b;
  color: #8c91a5;
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.user_bar .icons .add_handler .add_list div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  padding: 10px 5px;
  font-size: 15px;
}

.user_bar .icons .add_handler .add_list div .icon {
  fill: #8d90a5;
  width: 18px;
  height: 18px;
  margin: 0 10px;
}

.user_bar .icons .add_handler .add_list div .icon .outer {
  fill: #3c3c4b;
}

.user_bar .icons .add_handler .add_list div:first-of-type {
  -webkit-border-top-left-radius: 15px;
          border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
          border-top-right-radius: 15px;
}

.user_bar .icons .add_handler .add_list div:last-of-type {
  -webkit-border-bottom-left-radius: 15px;
          border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
          border-bottom-right-radius: 15px;
}

.user_bar .icons .add_handler .add_list div:hover {
  background: #49495a;
  color: #ebebeb;
}

.user_bar .icons .add_handler .add_list div:hover .icon {
  fill: #ebebeb;
}

.user_bar .icons .add_handler .add_list div:hover .icon .outer {
  fill: #49495a;
}

.user_bar .icons .add_handler .add_list .task_point .icon {
  border: 1px solid #8d90a5;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.user_bar .icons .add_handler .add_list .task_point:hover .icon {
  border: 1px solid #ebebeb;
}

.user_bar .icons .add_handler .add_list::before {
  content: "";
  position: absolute;
  top: -18%;
  left: 42.5%;
  border: 8px solid transparent;
  border-bottom: 8px solid #3c3c4b;
  z-index: 0;
}

.user_bar .icons .add_handler .hidden {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.user_bar .icons .icon {
  cursor: pointer;
  -webkit-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  width: 25px;
  height: 25px;
  fill: #676a7c;
}

.user_bar .icons .icon:hover {
  fill: #d8d8e7;
}

.user_bar .icons .avatar_handler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  overflow: hidden;
}

.user_bar .icons .avatar_handler .avatar {
  width: 75px;
  height: 75px;
}
