@import "./mixins";
@import "./variables";

.task_modal {
    @include flexCenter(column, center, center);

    cursor: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.5);
    z-index: 100;

    .modal_window {
        @include flexCenter(column, flex-start, space-evenly);
        
        width: 500px;
        height: 400px;
        padding: 25px;
        z-index: 2;
        border-radius: 25px;
        background: rgb(65, 65, 80);

        .task_name {
            background: inherit;
            width: 100%;
            height: 50px;
            font-size: 20px;
            color: white;

            &::placeholder {
                color: rgb(120, 120, 130);
            }
        }

        .who_where {
            @include flexCenter(row, center, flex-start);

            height: 50px;
            width: 100%;
            overflow: hidden;

            span {
                width: 25px;
                font-weight: 300;
                font-size: 16px;
                color: rgb(120, 120, 130);
            }

            select {
                cursor: pointer;
                background: rgb(65, 65, 80);
                color: white;
                font-size: 16px;
                font-weight: 300;
                margin: 0 15px;
            }
        }

        .date_picker_part {
            @include flexCenter(row, center, flex-start);

            position: relative;
            padding-bottom: 10px;

            .due_date {
                font-weight: 300;
                font-size: 16px;
                color: rgb(120, 120, 130);
            }

            .date_picker_holder {
                @include flexCenter(row, center, flex-start);

                transition: 0.15s ease-out;
                cursor: pointer;
                height: 35px;
                min-width: 95px;
                margin-left: 10px;
                padding: 0 10px;
                border-radius: 25px;

                .icon {
                    width: 16px;
                    height: 16px;
                    fill: $noDueDate;
                }
    
                .date {
                    font-weight: 300;
                    font-size: 16px;
                    margin-left: 10px;
                    color: $noDueDate;
                }

                &:hover {
                    background:rgb(85, 85, 105);
                }
            }

            .future_due_date {
                .date {
                    color: $futureDueDate;
                }

                .icon {
                    fill: $futureDueDate;
                }
            }

            .current_due_date {
                .date {
                    color: $currentDueDate;
                }

                .icon {
                    fill: $currentDueDate;
                }
            }

            .past_due_date {
                .date {
                    color: $pastDueDate;
                }

                .icon {
                    fill:  $pastDueDate;
                }
            }

            .remove_icon_holder {
                @include flexCenter(row, center, center);
                
                cursor: pointer;
                margin-left: 10px;

                .icon {
                    width: 18px;
                    height: 18px;

                    .outer {
                        transition: 0.15s ease-out;
                        fill: rgb(80, 80, 90);
                    }

                    .inner {
                        transition: 0.15s ease-out;
                        fill: rgb(215, 215, 215);
                    }
                }

                &:hover {
                    .outer {
                        fill: rgb(100, 100, 110);
                    }

                    .inner {
                        fill: white;
                    }
                }
            }
        }

        .description_box {
            background: rgb(65, 65, 80);
            color: white;
            font-size: 16px;
            font-weight: 300;
            width: 100%;
            height: 150px;
            resize: none;

            &::placeholder {
                color: rgb(120, 120, 130);
            }
        }

        .submit_part {
            @include flexCenter(row, flex-end, flex-end);
            height: 60px;
            width: 100%;

            .submit_task {
                appearance: button;
                transition: 0.15s ease-out;
                cursor: pointer;
                width: 125px;
                height: 40px;
                border-radius: 25px;
                background: rgb(85, 85, 105);
                color: white;
                font-size: 16px;

                &:hover {
                    background: rgb(73, 73, 93);
                    color: white;
                }

                &:disabled {
                    cursor: unset;
                    background: rgb(55, 55, 70);
                    color: rgb(115, 115, 115);
                }
            }
        }
        
    }

    .overlay {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}