@import "./mixins";
@import "./variables";

.user_bar {
    @include flexCenter(row, center, space-between);

    width: 100%;
    height: 15%;
    padding: 50px 75px 25px 75px;

    .tab_handler {
        font-size: 24px;
        color: rgb(110, 111, 115);
            
        .tab {
            color: white;
        }
    }

    .icons {
        @include flexCenter(row, center, flex-end);

        width: 50%;

        .icon_holder {
            @include flexCenter(row, center, center);

            margin: 0 35px;
        }

        .project_switch_mode_handler {
            @include flexCenter(row, center, center);
        }

        .project_info_handler {
            @include flexCenter(row, center, center);
        }

        .add_handler {
            @include flexCenter(row, center, center);

            position: relative;

            .add_list {
                position: absolute;
                top: 150%;
                width: 110px;
                background: rgb(60, 60, 75);
                color: rgb(140, 145, 165);
                border-radius: 15px;

                div {
                    @include flexCenter(row, center, flex-start);
                    
                    cursor: pointer;
                    transition: 0.15s ease-out;
                    padding: 10px 5px;
                    font-size: 15px;

                    .icon {
                        fill: rgb(141, 144, 165);
                        width: 18px;
                        height: 18px;
                        margin: 0 10px;

                        .outer {
                            fill: rgb(60, 60, 75);
                        }
                    }

                    &:first-of-type {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }

                    &:last-of-type {
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }

                    &:hover {
                        background: rgb(73, 73, 90);
                        color: rgb(235, 235, 235);

                        .icon {
                            fill: rgb(235, 235, 235);

                            .outer {
                                fill: rgb(73, 73, 90);
                            }
                        }
                    }
                }

                .task_point {
                    .icon {
                        border: 1px solid rgb(141, 144, 165);
                        border-radius: 100%;
                    }

                    &:hover {
                        .icon {
                            border: 1px solid rgb(235, 235, 235);
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -18%;
                    left: 42.5%;
                    border: 8px solid transparent;
                    border-bottom: 8px solid rgb(60, 60, 75);
                    z-index: 0;
                }
            }

            .hidden {
                transform: scale(0);
            }
        }

        .icon {
            cursor: pointer;
            transition: 0.15s ease-out;
            width: 25px;
            height: 25px;
            fill: rgb(103, 106, 124);

            &:hover {
                fill: rgb(216, 216, 231);
            }
        }

        .avatar_handler {
            @include flexCenter(row, center, center);

            margin-left: 35px;
            width: 75px;
            height: 75px;
            border-radius: 50px;
            overflow: hidden;

            .avatar {
                width: 75px;
                height: 75px;
            }
        }
    }
}